body{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.images{
    width: 1000px;
    height: 900px;
    position:center;
}

h1{
    color: blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.align{
    text-align: center;
}