body{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: white;
}

.images{
    background-color:orange ;
    width: 400px;
    height: 400px;
    position: center;
    border: 2px orange;
}

h1{
    color: blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: blue;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.align{
    text-align: center;
}