@font-face {
    font-family: 'Playfair Display';
    src: url(https://fonts.google.com/specimen/Open+Sans);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'Playfair Display';
    src: url(https://fonts.google.com/specimen/Roboto);
    font-weight: normal;
    font-style: normal;
}