div{
    color: black;
    text-align: center;
    background-color: silver;
    border: 2px solid red;
}

.images{
    width: 50%;
    min-width: 400px;
    max-width: 600px;
    height: 400px;
    overflow: scroll;

}

.body{
    font-size: 12px;
    padding: 2em;

}

.head{
    text-align: center;
    color: black;
}