div{
    border: 2px solid black;
    overflow: visible;

}

.head{
    text-align: center;
    color: black;
}

body{
    font-size: 12px;
}

.images{
    min-width: 400px;
    max-width: 600px;
    height: 400px;
    overflow: scroll;
    position: center;
    padding: 2em;
    background-size: contain;

}

.menu-item{
    color: white;
    display: inline-block;
    text-align: center;
    background-color: black;
}

.menu-item:hover{
    background-color: gray;
}

.display-inline-block{
    display: inline-block;
}

.dropdown-content{
    background-color: gray;
}

.dropdown:hover .dropdown-content{
    display: block;
}

.dropdown-item{
    display: block;
    margin: 0;
}

.dropdown-item:hover, .dropdown-item:hover{
    background-color: gray;
}


@media only screen and (min-width:600px){
    .col-s-1{width:8%;}
    
}