div{
    overflow: visible;
}

.head{
    text-align: center;
    color: black;
}

body{
    border: 2px solid black;
    font-size: 18px;
}

.images{
    min-width: 400px;
    max-width: 600px;
    height: 400px;
    overflow: scroll;
    position: center;
    padding: 2em;
    background-size: contain;

}

header {
    font-size: 14px;
    text-align: center;
    color: black;
}

.menu-item a {
    color: black;
    display: inline-block;
    text-align: center;
    background-color: white;
}

.menu-item:hover{
    background-color: gray;
}

.display-inline-block{
    display: inline-block;
}

.dropdown {
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    margin: 0;
}

.dropdown-content a {
    background-color: gray;
    border: 1px solid black;
}

.dropdown:hover .dropdown-content { 
    display: block;
}

.dropdown-item{
    display: block;
    margin: 0;
}

.dropdown-item:hover, .dropdown-item:hover a
{
    color: gray;
    background-color: aliceblue;
}

@media only screen and (max-width:778px) {
    [class*="col-"] {
        width: 100%;
    }
}
@media only screen and (min-width:600px){
    .col-1 {width:8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66;}
    .col-12 {width: 100%;}
}
